@CHARSET "UTF-8";

body {
	padding: 0;
	margin: 0;
	padding-top: 65px;
}

.footer {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}

.s_info{
	background: whiteSmoke;
	list-style: none;
	margin: 0 0;
}
.s_info li{
	padding: 5px 10px;
	border-bottom: 1px #EFEFEF solid;
}
.fast-post{
	background: whiteSmoke;
	padding: 5px 10px;
}
.controls-row{
	margin-bottom: 10px;
}
.baseline{
	height: 40px;
}
.postbtn{
	position: fixed;
	z-index: 10000;
	right: 35px;
	bottom: 35px;
}